.backgroundabsd {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/img/87.jpg");
}

.asdfghjhj {
    color: black;
}